* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100wh;
    display: grid;
    place-items: center;
}

.container {
    height: 40vmax;
    width: 17vmax;
    border-radius: 50px;
    background-color: black;
    display: grid;
    place-items: center;
}

.light {
    background-color: black;
    /* border: 1px solid white; */
    height: 10vmax;
    width: 10vmax;
    border-radius: 50%;
}